# Editors and IDEs
.*.sw*
.idea/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
amocli

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# tags
tags

# vendor
/vendor

# intermediate test files
test_script/testfile
downloaded
